# Compiled files
*.class

# Gradle files
bin/
build/
.gradle/

# IntelliJ files
.idea/
.kotlin/

# Eclipse files
.classpath
.project
.settings/

# Log files
logs/
*.log
hs_err_pid*

# Package files
dist/

# macOS files
.DS_Store