# Binary files
bin
build
*.class

# Gradle folders
.gradle

# IDE files
.idea
.classpath
.project
.settings

# Log files
*.log
logs
hs_err_pid*

# Test outputs
mayonez-base/src/test/java/slavsquatsuperstar.test.MayonezTest.java
mayonez-base/src/test/resources/testassets/out/

# MacOS files
.DS_Store
